name: realms

services:
  postgres:
    image: docker.io/postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres:/var/lib/postgresql

volumes:
  postgres:
